body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.about, .services, .contact {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2, .services h2, .contact h2 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #007BFF;
    color: #fff;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .about, .services, .contact {
        width: 90%;
        margin: 2em auto;
    }
}
